@font-face {
  font-family: 'Pixel';
  src: url('images/Pixel-LCD-7.woff') format('woff');
}

body {
  height: 100vh;
  width:  100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #c2c3c5;
  color: white;
  overflow: hidden;
  font-family: Pixel, sans-serif;
}

#game-board {
background-color: #96b40f;
/*z-index: 2;*/
border-radius: 2rem;
border: 5rem solid #606c78;
width: 80vmin;
height: 80vmin;
display: grid;
grid-template-rows: repeat(21, 1fr);
grid-template-columns: repeat(21, 1fr);
/*margin-bottom: 1em;*/
}

.snake {
  background-color: #2d5f2d;
  /*border: .25vmin solid black;*/
}


.food {
  background-color: #2d5f2d;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
  z-index: 2;
}

.top {
  position: fixed;
  top: 0;
}

.bot {
  position: fixed;
  bottom: 0;
}
